span{
    font-size: 16px;
}
h2{
    color:#d7d7d7;
}
h3{
  color:#e7e7e7;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}
h4{
    font-size: 12px;
}
p{
    font-size: 11px;
}
body {
    margin: 0;
    background-image: url('/img/background.jpeg'); 
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    font-style: normal;
    
    color: #d4d4d4;
}
.layer{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
      /* First part styles */
      .function-list {
        margin-top: 30px;
        height: 95vh;
        width:20vw;
        position: fixed;
        margin-left: 2vw;        
        margin-bottom: 20px;
        color: white;
        font-size: 20px;
        background-color: transparent;
        border-right: 1px solid #a0a0a0;
      }
      .function-list li{
        margin-bottom: 30px;
        list-style-type: none;
        padding-left:0px;
      }
      .function-list li a{
        text-decoration: none;
        all:unset;
        cursor: pointer;
        
      }
      .navi-item{
        width: fit-content;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        color:#cdcdcd;
        display: flex;
        gap:8px;
        align-items: center;
      }
      .navi-item:hover{
        background-color:#00000050;
        transition: 0.5s;
      }
      /* Second part styles */
/* User Posts section */
.posts{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 25vw;
    width: 45vw;
    max-height: 100vh;
}
.posts::-webkit-scrollbar {
    display: none;
  }

.post{
    border-bottom: 1px solid #a0a0a0;
    padding: 20px;
}

/* Like and Dislike buttons */
.interaction-buttons{
    display: flex;
    align-items: center;
}
.interaction-buttons button{
    display: flex;
    align-items: center;
    all: unset;
    cursor: pointer;
    position:relative;
    height:30px;
    width: 30px;
    border-radius: 10px;
    margin-right: 10px;
    text-align: right;
}
.interaction-buttons button:hover{
    background-color: #00000074;
    transition: 0.15s;
}
.interaction-buttons button:active{
  background-color: #ff000074;
  transition: 0.15s;
}
.interaction-buttons img{
    position:absolute;
    top :50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* Comments section */
.comments {
  margin-top: 10px;
  margin-bottom: 10px;
}

      /* Third part styles */
      .search-users {
        border-left: 1px solid #a0a0a0;
        height:95vh;
        margin-top: 30px;
        position: fixed;
        text-align: right;
        right:2vw;
        top:0;
        width:25vw;
        display: inline-block;
        margin-bottom: 20px;
        color: #a0a0a0;
        font-size: 20px;
        background-color: transparent;
      }

      #search-bar{
        width:250px;
        display: flex;
        margin-left: auto;
        padding:10px;
        border:1px solid #a0a0a0;
        border-radius: 20px;
      }
      #search-bar div{
        width:100%;
        margin-right: 10px;
      }
      #search-bar input{
        all:unset;
        text-align: center;
      }
      #search-bar input::placeholder{
        font-size: 15px;
      }
      .search-users form button{
        all:unset;
        font-size: 15px;
        cursor: pointer;
      }
      .search-users li{
        list-style-type: none;
        width: 150px;
        margin-left: auto;
      }

    .result{
        max-height: 90vh;
        overflow: scroll;
        overflow-x: hidden;
      }

      .result::-webkit-scrollbar {
        display: none;
      }
      img {
        max-width: 400px;
        max-height: 400px;
    }